body h2 {
color: #EE4902;
}
#maincontainer {
width: 800px;
margin: auto;
font-size: 12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

#header { 
text-align: center;
color: blue;
line-height: .5em;
}
#succ {
color: green;
}

#msgerror,#error {
color: red;
}
span {
color: red;
}
h2{
color: gray;}
td {
background-color: #E2E4FC;
}

legend{
color: blue;
}

a {
color: white;
text-decoration: none;
margin:0px;
padding: 0px 5px;
background-color: #CCCCFF;
}

li {
width: 400px; 
list-style-type:none;
background-color: #E2E4FC;
text-align: center;
}
form{
font-size:12px;
}